@use 'sass:math';

.pt-label {
  user-select: none;
  overflow: hidden;
  vertical-align: middle;

  &-inline {
    zoom: .66;
  }

  &-sm {
    $width: 48px;
    $height: 18px;

    align-items: center;
    aspect-ratio: math.div($width, $height - 4px);
    background-color: var(--pt-color);
    border: 1px solid #000;
    border-radius: 100vmax;
    box-shadow: inset 0 0 .125em .0625em #ffffffcf;
    box-sizing: border-box;
    color: #fff;
    display: inline-grid;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #0000007f, -1px -1px 1px #0000007f, 1px -1px 1px #0000007f, -1px 1px 1px #0000007f;
    text-wrap: nowrap;
    width: 6em;

    &:empty::after {
      content: var(--pt-typename);
      text-transform: var(--pt-text-transform, unset);
    }

    @include default-colors('sm');
  }

  &-swsh {
    $width: 200px;
    $height: 44px;
    $theta: 66deg;
    $font-size: $height * .6;
    $left: $height + math.round(math.div($height, math.tan($theta)) * .5) + 5px;

    align-items: center;
    aspect-ratio: math.div($width, $height);
    background-color: var(--pt-color);
    background-image: linear-gradient(180deg - $theta,
        transparent,
        transparent #{math.percentage(math.div(54px, $width))},
        #0000007f calc(#{math.percentage(math.div(54px, $width))} + 1px),
        #0000007f);
    box-sizing: border-box;
    color: #ffffffef;
    font-size: inherit;
    font-style: normal;
    font-weight: bold;
    display: inline-grid;
    grid-template-columns: math.percentage(math.div($left, $width)) 1fr;
    text-align: center;
    width: #{math.div(1, .6) * math.div($width, $height)}em;

    &::before {
      content: '';
      background-color: #fff;
      mask-image: var(--pt-iconurl);
      mask-repeat: no-repeat;
      mask-size: contain;
      height: 100%;
      width: 100%;
    }

    &:empty::after {
      content: var(--pt-typename);
      text-transform: var(--pt-text-transform, unset);
    }

    @include default-colors('swsh');
    @include default-icons('gen8');
  }

  &-la {
    $width: 152px;
    $height: 36px;
    $border-radius: 6px;

    align-items: center;
    box-sizing: border-box;
    color: #fbf5da;
    aspect-ratio: math.div($width, $height);
    display: inline-grid;
    grid-template-columns: math.percentage(math.div($height, $width)) 1fr;
    border-radius: #{math.percentage(math.div($border-radius, $width))} / #{math.percentage(math.div($border-radius, $height))};
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    background-image: linear-gradient(90deg,
        var(--pt-color),
        var(--pt-color) #{math.percentage(math.div($height, $width))},
        #1212127f #{math.percentage(math.div($height, $width))},
        #1212127f);
    width: #{math.div(1, .6) * math.div($width, $height)}em;

    &::before {
      content: '';
      mask-image: var(--pt-iconurl);
      mask-repeat: no-repeat;
      mask-size: contain;
      background-color: #fbf5da;
      height: 100%;
      width: 100%;
    }

    &:empty::after {
      content: var(--pt-typename);
      text-transform: var(--pt-text-transform, unset);
    }

    @include default-colors('la');
    @include default-icons('gen9');
  }

  &-bdsp {
    $width: 144px;
    $height: 32px;
    $padding-left: 2px;
    $border-radius: 8px;

    align-items: center;
    box-sizing: border-box;
    aspect-ratio: math.div($width, $height);
    display: inline-grid;
    grid-template-columns: #{math.percentage(math.div($padding-left, $width))} #{math.percentage(math.div($height, $width))} 1fr #{math.percentage(math.div($padding-left, $width))};
    border-radius: #{math.percentage(math.div($border-radius, $width))} / #{math.percentage(math.div($border-radius, $height))};
    font-size: inherit;
    background-color: var(--pt-color);
    font-style: normal;
    font-weight: normal;
    color: #fff;
    text-align: center;
    width: #{math.div(1, .6) * math.div($width, $height)}em;

    &::before {
      content: '';
      grid-column-start: 2;
      mask-image: var(--pt-iconurl);
      mask-repeat: no-repeat;
      mask-size: contain;
      background-color: #fff;
      height: 100%;
      width: 100%;
    }

    &:empty::after {
      content: var(--pt-typename);
      text-transform: var(--pt-text-transform, unset);
    }

    @include default-colors('bdsp');
    @include default-icons('gen9');
  }

  &-sv {
    $width: 200px;
    $height: 40px;
    $padding-left: 12px;

    align-items: center;
    box-sizing: border-box;
    aspect-ratio: math.div($width, $height);
    display: inline-grid;
    grid-template-columns: #{math.percentage(math.div($padding-left, $width))} #{math.percentage(math.div($height, $width))} 1fr #{math.percentage(math.div($padding-left, $width))};
    border-radius: 100vmax;
    font-size: inherit;
    background-color: var(--pt-color);
    font-style: normal;
    font-weight: bold;
    color: #fff;
    text-align: center;
    width: #{math.div(1, .66) * math.div($width, $height)}em;

    &::before {
      content: '';
      grid-column-start: 2;
      mask-image: var(--pt-iconurl);
      mask-repeat: no-repeat;
      mask-size: contain;
      background-color: #fff;
      height: 100%;
      width: 100%;
    }

    &:empty::after {
      content: var(--pt-typename);
      text-transform: var(--pt-text-transform, unset);
    }

    @include default-colors('sv');
    @include default-icons('gen9');
  }

  @at-root div#{&} {
    display: grid;
  }
}

.pt-lang-eng,
.pt-lang-fra,
.pt-lang-ita,
.pt-lang-spa {
  --pt-text-transform: uppercase;
}
