@use 'sass:math';

.pt-label {
  user-select: none;
  overflow: hidden;

  &-sm {
    $width: 48px;
    $height: 18px;
    $font-size: 8px;

    background-color: var(--pt-color);
    border: 1px solid #000;
    border-radius: 100vmax;
    box-shadow: inset 0 0 1px 1px #ffffffcf;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: var(--pt-label-fontsize);
    font-style: normal;
    font-weight: bold;
    height: $height;
    line-height: $height - 2px;
    text-align: center;
    text-shadow: 1px 1px 1px #0000007f, -1px -1px 1px #0000007f, 1px -1px 1px #0000007f, -1px 1px 1px #0000007f;
    width: $width;

    &:empty::after {
      content: var(--pt-typename);
      text-transform: var(--pt-text-transform, unset);
    }

    @include default-colors('sm');
  }

  &-swsh {
    $width: 200px;
    $height: 44px;
    $theta: 66deg;
    $left: $height + math.round(math.div($height, math.tan($theta)) * .5) + 5px;

    aspect-ratio: math.div($width, $height);
    background-color: var(--pt-color);
    background-image: linear-gradient(180deg - $theta,
        transparent,
        transparent 54px,
        #0000007f 55px,
        #0000007f);
    box-sizing: border-box;
    color: #ffffffef;
    font-size: $height * .6;
    font-style: normal;
    font-weight: bold;
    display: inline-grid;
    grid-template-columns: math.percentage(math.div($left, $width)) 1fr;
    line-height: $height;
    text-align: center;
    width: $width;

    &::before {
      content: '';
      background-color: #fff;
      mask-image: var(--pt-iconurl);
      mask-repeat: no-repeat;
      mask-size: contain;
    }

    &:empty::after {
      content: var(--pt-typename);
      text-transform: var(--pt-text-transform, unset);
    }

    @include default-colors('swsh');
    @include default-icons('gen8');
  }

  &-la {
    $width: 152px;
    $height: 36px;
    $border-radius: 6px;

    box-sizing: border-box;
    width: $width;
    aspect-ratio: math.div($width, $height);
    display: inline-grid;
    grid-template-columns: math.percentage(math.div($height, $width)) 1fr;
    border-radius: #{math.percentage(math.div($border-radius, $width))} / #{math.percentage(math.div($border-radius, $height))};
    font-size: $height * .6;
    font-style: normal;
    font-weight: normal;
    color: #fbf5da;
    text-align: center;
    line-height: $height;
    background-image: linear-gradient(90deg,
        var(--pt-color),
        var(--pt-color) $height,
        #1212127f $height + 1px,
        #1212127f);

    &::before {
      content: '';
      mask-image: var(--pt-iconurl);
      mask-size: contain;
      background-color: #fbf5da;
    }

    &:empty::after {
      content: var(--pt-typename);
      text-transform: var(--pt-text-transform, unset);
    }

    @include default-colors('la');
    @include default-icons('gen9');
  }

  &-bdsp {
    $width: 144px;
    $height: 32px;
    $padding-left: 2px;
    $border-radius: 8px;

    box-sizing: border-box;
    width: $width;
    aspect-ratio: math.div($width, $height);
    display: inline-grid;
    grid-template-columns: math.percentage(math.div($padding-left, $width)) math.percentage(math.div($height, $width)) 1fr math.percentage(math.div($padding-left, $width));
    border-radius: #{math.percentage(math.div($border-radius, $width))} / #{math.percentage(math.div($border-radius, $height))};
    font-size: $height * .6;
    background-color: var(--pt-color);
    font-style: normal;
    font-weight: normal;
    color: #fff;
    text-align: center;
    line-height: $height;

    &::before {
      content: '';
      grid-column-start: 2;
      mask-image: var(--pt-iconurl);
      mask-size: contain;
      background-color: #fff;
    }

    &:empty::after {
      content: var(--pt-typename);
      text-transform: var(--pt-text-transform, unset);
    }

    @include default-colors('bdsp');
    @include default-icons('gen9');
  }

  &-sv {
    $width: 200px;
    $height: 40px;
    $padding-left: 12px;

    box-sizing: border-box;
    width: $width;
    aspect-ratio: math.div($width, $height);
    display: inline-grid;
    grid-template-columns: math.percentage(math.div($padding-left, $width)) math.percentage(math.div($height, $width)) 1fr math.percentage(math.div($padding-left, $width));
    border-radius: 100vmax;
    font-size: $height * .66;
    background-color: var(--pt-color);
    font-style: normal;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: $height;

    &::before {
      content: '';
      grid-column-start: 2;
      mask-image: var(--pt-iconurl);
      mask-size: contain;
      background-color: #fff;
    }

    &:empty::after {
      content: var(--pt-typename);
      text-transform: var(--pt-text-transform, unset);
    }

    @include default-colors('sv');
    @include default-icons('gen9');
  }

  @at-root div#{&} {
    display: grid;
  }
}

.pt-lang-eng,
.pt-lang-fra,
.pt-lang-ita,
.pt-lang-spa {
  --pt-text-transform: uppercase;
}

.pt-lang-jpn {
  --pt-label-fontsize: 9px;
}

.pt-lang-kor,
.pt-lang-chs,
.pt-lang-cht {
  --pt-label-fontsize: 12px;
}

.pt-lang-eng,
.pt-lang-fra,
.pt-lang-ita,
.pt-lang-spa,
.pt-lang-ger {
  --pt-label-fontsize: 8px;
}